.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}


.video-info-grid {
  display: grid; 
  grid-template-columns: 50px 1fr;
}


.profile-picture-container {
  position: relative;
}

.profile-picture-container .tooltip {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  height: 70px;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  opacity: 0;
  z-index: 50;
  transition: opacity 0.15s;
  pointer-events: none;
}

.tooltip-profile-picture {
  height: 55px;
  border-radius: 30px;
  margin-right: 10px;
}



.tooltip .video-author {
  font-size: 17px;
  font-weight: bold;
  color: black
}

.tooltip .video-author-subs {
  font-size: 13px;
  color: rgb(155, 155, 155)
}

.profile-picture-container:hover .tooltip {
  opacity: 1;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}



.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 2px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;

}

@media (max-width: 869px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  padding: 4px 2px;
  border-radius: 2px;
}